* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: #eeeeee;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/* Hero section 1 styling from here 👇*/

.section_hero1 {
  height: 39rem;
  width: auto;
  background: #070707;
  color: #ebebeb;
}

/*|__Navbar styling */

.navBar {
  height: 4rem;
  width: 100%;
  margin-bottom: 13vh;
  color: #ebebeb;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

.navBar_logo {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
}

.navBar_links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navBar_links a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* |__Hero01 section main content */

.hero01_text {
  place-items: center;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: minmax(24px, 1fr) 2fr 1fr;
  gap: 4px;
}

.hero01_text-intro {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  align-self: flex-end;
  font-size: 12px;
  letter-spacing: 3px;
}

.hero01_text-name {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  font-size: clamp(60px, 10vw, 120px);
  letter-spacing: 32px;
  font-weight: 800;
}

.hero01_text-role {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  align-self: flex-start;
  font-size: 12px;
  letter-spacing: 2px;
}

/* Hero section 2 styling from here 👇*/

.section_hero2 {
  height: 37rem;
  width: auto;
  background-color: #ebebeb;
}

/* Services section start from here 👇*/

.section_services {
  height: 37rem;
  width: auto;
  background-color: #070707;
}

/* Projects sections starts from here 👇*/

.section_projects {
  height: 37rem;
  width: auto;
  background-color: #ebebeb;
}

/* CTA section starts from here 👇*/

.section_cta {
  height: 37rem;
  width: auto;
  background-color: #070707;
}
